# rclone remote 路徑，例如：gdrive:/PortableDriveBackup
RCLONE_REMOTE=gdrive

# 在 RCLONE_REMOTE 底下要同步的子資料夾，例如：Documents
RCLONE_REMOTE_SUBDIR=Tools/iso

# 同步到本機（可攜硬碟）的目錄，例如：/media/pudding/MyPortableDrive
LOCAL_SYNC_DIR=.

# 同步時要排除的資料夾名稱前綴（可留空），例如：[trash
EXCLUDE_PREFIX=[

